header {
    background: rgba(204,204,255,0.7);
    width: 100%;
    height: 15vh;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px #9999FF;
  }
  
header img {
    width: 20%; 
    height: auto; 
    margin-left: 40px; 
  }
  
nav {
    float: right; 
  }
  
nav ul {
    list-style: none;
    overflow: hidden;
  }
  
nav ul li {
    float: left;
    font-family: 'Rancho', cursive;
    font-size: 20px;
    margin-right: 4px;
  }
  
nav ul li a {
    display: block;
    padding: 10px;
    color: #9999FF;
    text-decoration: none;
  }
   
nav ul li:hover {
    background:rgb(250, 250, 250);
  }
  
#li6 {
    margin-right: 40px;
 }
