
 /*Lincks*/
  @import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
  @import url(header.css);
  @import url(main.css);
  @import url(footer.css);
  @import url(login.css);

  /*Generalidades*/
* {
  margin: 0;
  font-family: 'Sniglet';
  text-align: center;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Rancho';
}

h1 {
  font-size: 3.125em;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.25em;
}

