<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/styles.css">
    <title>Registrarme en Mistico</title>
</head>

<body id="body2">

    <div>
        <button id="Regresar">
            <a href="../index.html">
                <h3>Regresar</h3>
            </a>
        </button>
    </div>


    <div class="img-form-login">
        <img id="logo2" src="../Img/Místico-sinfodo.png" alt="Logo de Mistico">

        <div id="login">

            <form>
                <h1 id="h1LogIn">Registrarme</h1><br>

                <label for="nombres">Nombres:</label><br>
                <input type="text" id="nombres" name="nombres" required><br>

                <label for="apellidos">Apellidos:</label><br>
                <input type="text" id="apellidos" name="apellidos" required><br>

                <label for="correo">Correo Electrónico:</label><br>
                <input type="email" id="correo" name="email" required><br>

                <label for="telefono">Teléfono:</label><br>
                <input type="tel" id="telefono" name="telefono" required><br>

                <label for="contraseña">Contraseña:</label><br>
                <input type="password" id="contraseña" name="contraseña" required><br>

                <label for="genero">Género:</label><br>
                <select id="genero" name="genero" required>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="otro">Otro</option>
                </select><br>

                <br>

                <input type="button" value="Registrarme" id='registro'>
            </form>
            <div id="login-lineas">
                <div class="linea"></div>
                <div>o</div>
                <div class="linea"></div>
            </div>
            <a href="LogIn.html">Iniciar Sesión</a>
        </div>
    </div>
    <script src='../Js/ls.js'></script>
</body>

</html>